{:HOST "localhost"
 :PORT "8080"
 :ENV "DEV"
 :DB {:CONNSTR "sqlite:///server/db/"
      :EINSOPH "0.db"
      :KETHER "1.db"
      :BINAH "2.db"
      :HOKHMAH "3.db"
      :DAAT "4.db"
      :GEBURAH "5.db"
      :HESED "6.db"
      :TIPHERETH "7.db"
      :HOD "8.db"
      :NETZACH "9.db"
      :YESOD "10.db"
      :MALKUTH "11.db"}}
