;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.1"]]

 :dev-http {8080 "public/"}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compiledjs"
        :target :browser
        :modules {:main {:init-fn pleromanet.core/init!}}
        :devtools {:after-load pleromanet.core/reload!}}}}
