body {
    background-color: black;
}

#treeoflife {
    background-image: url("treeoflife.jpeg");
    min-height: 750px;
    max-width: 425px;
    margin-left: 25px;
}

table {
    height: 0px;
    min-height: 100vh;
}


