body {
    background-color: black;
    font-family: 'Courier';
    color: #DEFF00;
}

#x {
    background-image: url("../images/fool.png");
    min-height: 750px;
    max-width: 425px;
    margin-left: 25px;
}

a.visited {
    color: #9bb300;
}


a {
    color: #9bb300;
}

table {
    height: 0px;
    min-height: 100vh;
}

.zoom {
}

.zoom:hover {
    transform: scale(1.5);
    transform-origin: 250px 650px;
}

